= bootstrap_form_for @profile do |f|
  - if @profile.errors.any?
    #error_explanation
      %h2= "#{pluralize(@profile.errors.count, "error")} prohibited this profile from being saved:"
      %ul
        - @profile.errors.full_messages.each do |msg|
          %li= msg

  = f.text_field :name
  = f.text_field :video
  = f.text_field :representitive
  = f.text_field :phone
  = f.text_field :status
  = f.text_field :facebook
  = f.text_field :twitter
  = f.text_field :instagram
  = f.text_field :all_tags, placeholder: "Tags separated with comma"
  = f.select(:category, Category.all.collect {|c| [c.name, c.id]})
  = f.submit 'Save'
