= bootstrap_form_for @profile do |f|
  = render 'shared/form_errors', model: @profile

  = f.text_field :name
  = f.text_field :video_url, :value => render_url(@profile.video_url)
  = f.text_field :representitive
  = f.text_field :phone
  = f.text_field :address
  = f.text_field :facebook, help: "This is your username or page web address. example: johnsmith if your page is at http://facebook.com/johnsmith", icon: 'facebook'
  = f.text_field :twitter, label: "Twitter Username", help: "example: johnsmith", prepend: "@"
  = f.text_field :instagram, label: "Instagram Username", help: "example: johnsmith", prepend: "@"
  = f.text_field :youtube
  = f.text_field :linkedin
  = f.text_area :description
  =# f.text_field :all_tags, placeholder: "Tags separated with comma"
  = f.select(:category_id, Category.all.collect {|c| [c.name, c.id]})
  = f.submit 'Save'
