%p#notice= notice

%p
  %b Name:
  = @profile.name
%p
  %b Video:
  = @profile.video
%p
  %b Representitive:
  = @profile.representitive
%p
  %b Phone:
  = @profile.phone
%p
  %b Status:
  = @profile.status
%p
  %b Facebook:
  = @profile.facebook
%p
  %b Twitter:
  = @profile.twitter
%p
  %b Instagram:
  = @profile.instagram
%p
  %b Category:
  = @profile.category.name unless @profile.category.nil?
%p
  %b User:
  = @profile.user.email unless @profile.user.nil?

= link_to 'Edit', edit_profile_path(@profile)
\|
= link_to 'Back', profiles_path
