-# meta data
- set_meta_tags "og:title" => "Bzzeo | #{@profile.name}", "og:description" => @profile.description, "og:image" => @profile.thumbnail_url

.row.profile
  .col-xs-12
    .row.video
      .col-xs-12.col-sm-6
        = embed(@profile, true).html_safe unless @profile.video_url.blank?
      .col-xs-12.col-sm-6
        .row
          .col-xs-12
            %span.pull-right.profile-map-selector
              = link_to '#', :class => 'location-button' do
                = icon 'map-marker'
                = city @profile.address
            %h3.name= @profile.name
            %h4= @profile.category.name unless @profile.category.nil?
        - unless @profile.address.blank?
          .row
            .col-xs-12
              %p
                %iframe.profile-map.hidden{:allowfullscreen => "", :frameborder => "0", :src => "https://www.google.com/maps/embed/v1/place?key=AIzaSyAcyVJVLnLZvy1UaUP86D7GfeU5vS7Fspw&q=#{h @profile.address}", :style => "border:0"}
        - unless current_user.nil? || current_user == @profile.user
          .row.more-info
            .col-xs-12
              / connect
              .btn-group
                = link_to friend_profile_path(@profile), :class => "friend btn btn-primary btn-sm dropdown-toggle", method: :put, remote: true, :data => { :id => @profile.id }, :type => "button" do
                  = icon 'eye'
                  = @profile.friend?(current_user) ? "Unfollow" : "Follow"
                %button.btn.btn-primary.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                  %span.caret
                  %span.sr-only Toggle Dropdown
                %ul.dropdown-menu
                  %li
                    = link_to friend_profile_path(@profile), :class => "friend", method: :put, remote: true, :data => { :id => @profile.id } do
                      = icon 'eye'
                      = @profile.friend?(current_user) ? "Unfollow" : "Follow"
                  %li
                    = link_to partner_profile_path(@profile), :class => "partner", method: :put, remote: true, :data => { :id => @profile.id } do
                      = icon 'user'
                      = @profile.partner?(current_user) ? "Unpartner" : "Partner"
              / contact
              .btn-group
                = link_to new_conversation_path(profile_id: @profile.id), :class => "btn btn-primary btn-sm dropdown-toggle", :type => "button" do
                  = icon 'at'
                  Contact
                %button.btn.btn-primary.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                  %span.caret
                  %span.sr-only Toggle Dropdown
                %ul.dropdown-menu
                  - unless @profile.phone.blank?
                    %li
                      = tel_to @profile.phone
                  %li
                    = mail_to @profile.user.email, @profile.user.email
                  - unless @profile.facebook.blank?
                    %li
                      = link_to "https://www.facebook.com/#{@profile.facebook}", {:target => "_blank"} do
                        = icon 'facebook'
                        = @profile.facebook
                  - unless @profile.twitter.blank?
                    %li
                      = link_to "https://twitter.com/#{@profile.twitter}", {:target => "_blank"} do
                        = icon 'twitter'
                        = @profile.twitter
                  - unless @profile.youtube.blank?
                    %li
                      = link_to "https://www.youtube.com/user/#{@profile.youtube}", {:target => "_blank"} do
                        = icon 'youtube'
                        = @profile.youtube
                  - unless @profile.linkedin.blank?
                    %li
                      = link_to "https://www.linkedin.com/in/#{@profile.linkedin}", {:target => "_blank"} do
                        = icon 'linkedin'
                        = @profile.linkedin
                  - unless @profile.instagram.blank?
                    %li
                      = link_to "https://www.instagram.com/#{@profile.instagram}", {:target => "_blank"} do
                        = icon 'instagram'
                        = @profile.instagram

              / review
              .btn-group
                = link_to new_post_path(params: { mention_id: @profile.id, post_category_id: PostCategory.find_by(name: 'review').id }), :class => "btn btn-primary btn-sm dropdown-toggle", :type => "button" do
                  = icon 'binoculars'
                  Review
                %button.btn.btn-primary.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                  %span.caret
                  %span.sr-only Toggle Dropdown
                %ul.dropdown-menu
                  %li
                    = link_to "https://twitter.com/home?status=#{ENV['SITE']}#{profile_path(@profile)}", :target => "_blank" do
                      = icon 'twitter'
                      Share on Twitter
                  %li
                    = link_to "https://www.linkedin.com/shareArticle?mini=true&url=#{ENV['SITE']}#{profile_path(@profile)}", :target => "_blank" do
                      = icon 'linkedin'
                      Share on LinkedIn
                  %li
                    = link_to "https://www.facebook.com/sharer/sharer.php?u=#{ENV['SITE']}#{profile_path(@profile)}", :target => "_blank" do
                      = icon 'facebook'
                      Share on Facebook
        .row
          .col-xs-12
            %p.description
              = raw @profile.tagged_description
        .row.text-center.scores
          .col-xs-12.col-sm-10
            .col-xs-4
              %h4= "#{@profile.friendeds.count} Followers"
            .col-xs-4
              %h4= "#{@profile.mentions.count} Mentions"
            .col-xs-4
              %h4= "#{@profile.score} Score"

    .row.posts
      .col-xs-12
        / Nav tabs
        %ul.nav.nav-tabs{:role => "tablist"}
          %li.col-sm-3.text-center.active{:role => "presentation"}
            %a{"aria-controls" => "portfolio", "data-toggle" => "tab", :href => "#portfolio-tab", :role => "tab"}
              = icon 'user'
              -# Portfolio
          %li.col-sm-3.text-center{:role => "presentation"}
            %a{"aria-controls" => "posts", "data-toggle" => "tab", :href => "#posts-tab", :role => "tab"}
              = icon 'sticky-note'
              -# Posts
          %li.col-sm-3.text-center{:role => "presentation"}
            %a{"aria-controls" => "mentions", "data-toggle" => "tab", :href => "#mentions-tab", :role => "tab"}
              = icon 'at'
              -# Mentions
          %li.col-sm-3.text-center{:role => "presentation"}
            %a{"aria-controls" => "partners", "data-toggle" => "tab", :href => "#partners-tab", :role => "tab"}
              = icon 'users'
              -# &infin;
              -# Partners
        / Tab panes
        .tab-content
          #portfolio-tab.tab-pane.active{:role => "tabpanel"}
            .row.portfolios
              .col-xs-12
                // portfolio posts
                - portfolio_posts = @profile.posts.where(post_category: PostCategory.find_by(name:"portfolio")).where.not(hidden: true).order(pinned: :asc, created_at: :desc)
                // adds a post at the start
                - portfolio_posts = portfolio_posts.unshift(Post.new(description: "Spice up your profile by adding some of your work, accoldates, a video, or resume")) if current_user.profile == @profile
                - portfolio_posts.in_groups_of(4, false) do |post_group|
                  .row
                    .col-xs-12
                      - post_group.each do |post|
                        = render partial: 'shared/post_sm', locals: {post: post, link: "/posts/new?post_category_id=#{PostCategory.find_by(name: 'portfolio').id}"}
                - unless @profile.posts.where(post_category: PostCategory.find_by(name:"portfolio")).where.not(hidden: true).any?
                  %p No portfolio posts
          #posts-tab.tab-pane{:role => "tabpanel"}
            .row.posts
              .col-xs-12
                // posts
                - profile_posts = @profile.posts.where.not(hidden: true).order(pinned: :asc, created_at: :desc)
                // adds a post at the start
                - profile_posts.unshift(Post.new(description: "Add a new post to get people's attention and draw them to your profile.")) if current_user.profile == @profile
                - profile_posts.in_groups_of(4, false) do |post_group|
                  .row
                    .col-xs-12
                      - post_group.each do |post|
                        = render partial: 'shared/post_sm', locals: {post: post, link: new_post_path}
                - unless @profile.posts.where.not(hidden: true).any?
                  %p No posts
          #mentions-tab.tab-pane{:role => "tabpanel"}
            .row.mentions
              .col-xs-12
                // mentions
                - profile_mentions = @profile.mentions.order(created_at: :desc)
                // adds a post at the start
                - profile_mentions.unshift(Post.new(description: "Review this business")) if current_user.profile != @profile
                - profile_mentions.in_groups_of(4, false) do |mention_group|
                  .row
                    .col-xs-12
                      - mention_group.each do |mention|
                        = render partial: 'shared/post_sm', locals: {post: mention, link: "/posts/new?post_category_id=#{PostCategory.find_by(name: 'review').id}"}
                - unless @profile.mentions.any?
                  %p No Mentions
          #partners-tab.tab-pane{:role => "tabpanel"}
            .row.partners
              .col-xs-12
                - if @profile.partners.any?
                  - @profile.partners.in_groups_of(4, false) do |partner_group|
                    .row
                      .col-xs-12
                        - partner_group.each do |partner|
                          = render 'shared/profile_sm', profile: partner.partner
                - else
                  %p No Partners
                - if user_signed_in? && current_user.profile == @profile
                  %br
                  %p You should add some more partners
