-# meta data
- set_meta_tags "og:title" => "Bzzeo | #{@profile.name}", "og:description" => @profile.description, "og:image" => @profile.thumbnail_url

.row.profile
  .col-xs-12
    .row.video
      .col-xs-12.col-sm-6
        = embed(@profile, true).html_safe unless @profile.video_url.blank?
      .col-xs-12.col-sm-6
        .row
          .col-xs-12.col-sm-6
            %h3.name= @profile.name
          .col-sm-6.text-center
            .col-xs-4
              %h4= @profile.friendeds.count
              %p Followers
            .col-xs-4
              %h4= @profile.mentions.count
              %p mentions
            .col-xs-4
              %h4= @profile.score
              %p score
        - unless @profile.address.blank?
          .row
            .col-xs-12
              %p
                = link_to '#', :class => 'location-button' do
                  = city @profile.address
                  = icon 'map-marker'
                %iframe.profile-map.hidden{:allowfullscreen => "", :frameborder => "0", :src => "https://www.google.com/maps/embed/v1/place?key=AIzaSyAcyVJVLnLZvy1UaUP86D7GfeU5vS7Fspw&q=#{h @profile.address}", :style => "border:0"}
        - unless current_user.nil? || current_user == @profile.user
          .row.more-info
            .col-xs-12
              .btn-group
                %button.btn.btn-primary.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                  = icon 'plus'
                  Connect
                  %span.caret
                %ul.dropdown-menu
                  %li
                    = link_to friend_profile_path(@profile), :class => "friend", method: :put, remote: true, :data => { :id => @profile.id } do
                      = icon 'eye'
                      = @profile.friend?(current_user) ? "Unfollow" : "Follow"
                  %li
                    = link_to partner_profile_path(@profile), :class => "partner", method: :put, remote: true, :data => { :id => @profile.id } do
                      = icon 'user'
                      = @profile.partner?(current_user) ? "Unpartner" : "Partner"
              .btn-group
                %button.btn.btn-primary.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                  = icon 'at'
                  Contact
                  %span.caret
                %ul.dropdown-menu
                  %li
                    = link_to new_conversation_path(profile_id: @profile.id) do
                      = icon 'comment'
                      Message
                      = @profile.representitive unless @profile.representitive.blank?
                  - unless @profile.phone.blank?
                    %li
                      = tel_to @profile.phone
                  %li
                    = mail_to @profile.user.email, @profile.user.email
                  - unless @profile.facebook.blank?
                    %li
                      = link_to "https://www.facebook.com/#{@profile.facebook}", {:target => "_blank"} do
                        = icon 'facebook'
                        = @profile.facebook
                  - unless @profile.twitter.blank?
                    %li
                      = link_to "https://twitter.com/#{@profile.twitter}", {:target => "_blank"} do
                        = icon 'twitter'
                        = @profile.twitter
                  - unless @profile.youtube.blank?
                    %li
                      = link_to "https://www.youtube.com/user/#{@profile.youtube}", {:target => "_blank"} do
                        = icon 'youtube'
                        = @profile.youtube
                  - unless @profile.linkedin.blank?
                    %li
                      = link_to "https://www.linkedin.com/in/#{@profile.linkedin}", {:target => "_blank"} do
                        = icon 'linkedin'
                        = @profile.linkedin
                  - unless @profile.instagram.blank?
                    %li
                      = link_to "https://www.instagram.com/#{@profile.instagram}", {:target => "_blank"} do
                        = icon 'instagram'
                        = @profile.instagram
              = link_to new_post_path(params: { mention_id: @profile.id, post_category_id: PostCategory.find_by(name: 'review').id }), :class => "btn btn-sm btn-primary" do
                = icon 'binoculars'
                Review
        .row
          .col-xs-12
            %h4
              = @profile.category.name unless @profile.category.nil?
            %p
              = raw @profile.tagged_description
        .row.social-share
          .col-xs-12
            %ul.list-inline
              %li
                .twitter
                  = twitter_button
              %li
                .linkedin
                  = linkedin_button
              %li
                .facebook
                  = facebook_button
              -# %li= google_plus_button

    .row.posts
      .col-xs-12
        / Nav tabs
        %ul.nav.nav-tabs{:role => "tablist"}
          %li.active{:role => "presentation"}
            %a{"aria-controls" => "home", "data-toggle" => "tab", :href => "#posts-tab", :role => "tab"} Posts
          %li{:role => "presentation"}
            %a{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#mentions-tab", :role => "tab"} Mentions
          %li{:role => "presentation"}
            %a{"aria-controls" => "messages", "data-toggle" => "tab", :href => "#partners-tab", :role => "tab"} Partners
        / Tab panes
        .tab-content
          #posts-tab.tab-pane.active{:role => "tabpanel"}
            .row.posts
              .col-xs-12
                - if @profile.posts.where.not(hidden: true).any?
                  - @profile.posts.where.not(hidden: true).order(pinned: :asc, created_at: :desc).in_groups_of(4, false) do |post_group|
                    .row
                      .col-xs-12
                        - post_group.each do |post|
                          = render 'shared/post_sm', post: post
                - else
                  %p No posts
                - if user_signed_in? && current_user.profile == @profile
                  %br
                  = link_to new_post_path, :class => "btn btn-sm btn-primary" do
                    = icon 'plus'
                    New Post
          #mentions-tab.tab-pane{:role => "tabpanel"}
            .row.mentions
              .col-xs-12
                - if @profile.mentions.any?
                  - @profile.mentions.order(created_at: :desc).in_groups_of(4, false) do |mention_group|
                    .row
                      .col-xs-12
                        - mention_group.each do |mention|
                          = render 'shared/post_sm', post: mention
                - else
                  %p No Mentions
                %br
                = link_to new_post_path(params: { mention_id: @profile.id, post_category_id: PostCategory.find_by(name: 'review').id }), :class => "btn btn-sm btn-primary" do
                  = icon 'binoculars'
                  Review
          #partners-tab.tab-pane{:role => "tabpanel"}
            .row.partners
              .col-xs-12
                - if @profile.partners.any?
                  - @profile.partners.in_groups_of(4, false) do |partner_group|
                    .row
                      .col-xs-12
                        - partner_group.each do |partner|
                          = render 'shared/profile_sm', profile: partner.partner
                - else
                  %p No Partners
                - if user_signed_in? && current_user.profile == @profile
                  %br
                  %p You should add some more partners
