= form_for @friend do |f|
  - if @friend.errors.any?
    #error_explanation
      %h2= "#{pluralize(@friend.errors.count, "error")} prohibited this friend from being saved:"
      %ul
        - @friend.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :profile
    = f.text_field :profile
  .field
    = f.label :friend
    = f.text_field :friend
  .field
    = f.label :mutual
    = f.check_box :mutual
  .actions
    = f.submit 'Save'
