= bootstrap_form_for @like do |f|
  - if @like.errors.any?
    #error_explanation
      %h2= "#{pluralize(@like.errors.count, "error")} prohibited this like from being saved:"
      %ul
        - @like.errors.full_messages.each do |msg|
          %li= msg

  = f.text_field :profile
  = f.text_field :post
  = f.submit 'Save'
