%h1 Listing likes

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Profile
        %th Post
        %th
        %th
        %th

    %tbody
      - @likes.each do |like|
        %tr
          %td= like.profile.name
          %td= like.post.description
          %td= link_to 'Show', like
          %td= link_to 'Edit', edit_like_path(like)
          %td= link_to 'Destroy', like, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to 'New Like', new_like_path
