.row
  .col-xs-12.col-sm-6.col-sm-offset-3
    .row.post
      .col-xs-12
        .row
          .col-xs-12.col-sm-6
            %h4.profile= link_to post.profile.name, profile_path(post.profile)
          .col-xs-12.col-sm-6
            %p.timestamp.pull-right
              posted
              = time_ago_in_words post.created_at
              ago
        .row.image
          -# image, if there is one
          .col-xs-12
            = image_tag(post.image_url, :class => "img-responsive")
        .row.video
          -# video, if there is one
          .col-xs-12
            -# = link_to '#', { data: { id: post.id }, class: "thumb-wrap" } do
            -#   %img{ :src => post.thumbnail_url, :class => "img-responsive thumb" }
            = embed(post).html_safe unless post.video_url.blank?
        .row.description
          -# text for the post
          .col-xs-12
            - unless post.mention.nil?
              = link_to profile_path(post.mention) do
                = "@#{post.mention.name}"
            = auto_link(post.description, :html => { :target => '_blank' }) unless post.description.nil?
        .row.comments{ :data => {:id => post.id} }
          -# all comments for the post
          .col-xs-12
            - post.comments.each do |comment|
              .row.comment
                .col-xs-12
                  .row.profile
                    .col-xs-12
                      = link_to profile_path(comment.profile) do
                        = comment.profile.name
                  .row.comment-description
                    .col-xs-12
                      = auto_link(comment.description, :html => { :target => '_blank' })
        .row.options
          -# share, like, comment buttons
          .col-xs-12
            %ul.list-inline
              %li.likes-count
                %span{ :data => {:id => post.id} }
                  = post.likes.size
                likes
              %li
                = link_to like_post_path(post), :class => "button btn btn-primary btn-sm like", method: :put, remote: true, :data => { :id => post.id } do
                  = post.liked?(current_user) ? "Unlike" : "Like"
              -# %li.upvotes-count
              -#   %span{ :data => {:id => post.id} }
              -#     = post.upvotes.size
              -#   upvotes
              -# %li
              -#   = link_to upvote_post_path(post), :class => "button btn btn-primary btn-sm upvote", method: :put, remote: true, :data => { :id => post.id } do
              -#     = post.upvoted?(current_user) ? "Unupvote" : "Upvote"
              -# %li.downvotes-count
              -#   %span{ :data => {:id => post.id} }
              -#     = post.downvotes.size
              -#   downvotes
              -# %li
              -#   = link_to downvote_post_path(post), :class => "button btn btn-primary btn-sm downvote", method: :put, remote: true, :data => { :id => post.id } do
              -#     = post.downvoted?(current_user) ? "Undownvote" : "Downvote"
              %li
                = link_to "Comment", '#', :data => { "new-comment-id" => post.id }, :class => "button btn btn-primary btn-sm new-comment-toggle"
              %li
                = link_to "Share", new_share_path( post_id: post.id ), { :class => "button btn btn-primary btn-sm" }
        .row.new-comment.collapse{:data => { "new-comment-id" => post.id }}
          .col-xs-12
            = bootstrap_form_for(Comment.new, url: comment_post_path(post), remote: true) do |f|
              = f.text_area :description, label: "New Comment"
              = f.submit "Post Comment", :class => "btn btn-primary btn-sm submit-comment"
        - if social
          .row.social-share
            .col-xs-12
              %ul.list-inline
                %li
                  .twitter
                    = twitter_button
                %li
                  .linkedin
                    = linkedin_button
                %li
                  .facebook
                    = facebook_button
                -# %li= google_plus_button
