.row
  .col-xs-12.col-sm-6.col-sm-offset-3
    .row.post
      .col-xs-12
        .row.profile
          .col-xs-12
            = post.profile.name
        .row.image
          -# image, if there is one
          .col-xs-12
            = image_tag(post.image_url, :class => "img-responsive")
        .row.video
          -# video, if there is one
          .col-xs-12
            -#
              = link_to '#', { data: { id: post.id }, class: "thumb-wrap" } do
                %img{ :src => post.thumbnail_url, :class => "img-responsive thumb" }
            = embed(post).html_safe unless post.video_url.blank?
        .row.description
          -# text for the post
          .col-xs-12
            = post.description
        .row.comments{ :data => {:id => post.id} }
          -# all comments for the post
          .col-xs-12
            - post.comments.each do |comment|
              .row.comment
                .col-xs-12
                  .row.profile
                    .col-xs-12
                      = comment.profile.name
                  .row.description
                    .col-xs-12
                      = comment.description
        .row.options
          -# share, like, comment buttons
          .col-xs-12
            %ul.list-inline
              %li
                %span.likes-count{ :data => {:id => post.id} }
                  = post.likes.size
                people like this
                = link_to like_post_path(post), :class => "button btn btn-primary like", method: :put, remote: true, :data => { :id => post.id } do
                  = post.liked?(current_user) ? "Unlike" : "Like"
              %li
                = link_to "Comment", '#', :data => { "new-comment-id" => post.id }, :class => "button btn btn-default new-comment-toggle"
              %li
                = link_to "Share", new_share_path( post_id: post.id ), { :class => "button btn btn-success" }
        .row.new-comment.collapse{:data => { "new-comment-id" => post.id }}
          .col-xs-12
            = bootstrap_form_for(Comment.new, url: comment_post_path(post), remote: true) do |f|
              = f.text_area :description
              = f.submit "Post Comment", :class => "btn btn-primary submit-comment"
        - if social
          .row.social-share
            .col-xs-12
              %ul.list-inline
                %li= twitter_button
                %li= facebook_button
                %li= linkedin_button
                %li= google_plus_button
