.row
  .col-xs-12.col-sm-6.col-sm-offset-3
    .row.post
      .col-xs-12
        .row
          .col-xs-6
            %h4.profile= link_to post.profile.name, profile_path(post.profile)
          .col-xs-6
            %p.timestamp.pull-right
              posted
              = time_ago_in_words post.created_at
              ago
              %span.pinned{:data => { :id => post.id }, :class => "#{'hidden' unless post.pinned?}"}
                = icon 'thumb-tack'# if post.pinned?
              - if current_user.profile == post.profile || current_user.admin?
                = link_to edit_post_path(post), :class => "btn btn-warning btn-xs" do
                  = icon 'pencil'
                = link_to 'x', post, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger btn-xs"
        .row.image
          -# image, if there is one
          .col-xs-12
            = image_tag(post.image_url, :class => "img-responsive")
        .row.video
          -# video, if there is one
          .col-xs-12
            -# = link_to '#', { data: { id: post.id }, class: "thumb-wrap" } do
            -#   %img{ :src => post.thumbnail_url, :class => "img-responsive thumb" }
            = embed(post).html_safe unless post.video_url.blank?
        .row.description
          -# text for the post
          .col-xs-12
            - unless post.mention.nil?
              = link_to profile_path(post.mention) do
                = "@#{post.mention.name}"
            = auto_link(raw(post.tagged_description), :html => { :target => '_blank' }) unless post.description.nil?
        .row.comments{ :data => {:id => post.id} }
          -# all comments for the post
          .col-xs-12
            - post.comments.each do |comment|
              .row.comment
                .col-xs-12
                  .row.profile
                    .col-xs-12
                      = link_to profile_path(comment.profile) do
                        = comment.profile.name
                  .row.comment-description
                    .col-xs-12
                      = auto_link(comment.description, :html => { :target => '_blank' })
        - if user_signed_in?
          .row.options
            -# share, like, comment buttons
            .col-xs-8
              %ul.list-inline
                - if !post.promotion?
                  %li.likes-count
                    %span{ :data => {:id => post.id} }
                      = post.likes.size
                    likes
                  %li
                    = link_to like_post_path(post), :class => "button btn btn-primary btn-sm like", method: :put, remote: true, :data => { :id => post.id } do
                      = post.liked?(current_user) ? "Unlike" : "Like"
                  - if post.profile.user == current_user
                    %li
                      = link_to pin_post_path(post), :class => "button btn btn-default btn-sm pin", method: :put, remote: true, :data => { :id => post.id } do
                        = post.pinned? ? "Unpin" : "Pin"
                %li
                  = link_to '#', :data => { "new-comment-id" => post.id }, :class => "button btn btn-primary btn-sm new-comment-toggle" do
                    = post.promotion? ? "Reply" : "Comment"
                %li
                  = link_to "Share", new_share_path( post_id: post.id ), { :class => "button btn btn-primary btn-sm" }
            - if post.promotion?
              .col-xs-4
                = render 'shared/voter', post: post
          .row.new-comment.collapse{:data => { "new-comment-id" => post.id }}
            .col-xs-12
              = bootstrap_form_for(Comment.new, url: comment_post_path(post), remote: true) do |f|
                = f.text_area :description, hide_label: true
                - if post.promotion?
                  = f.submit "Post Reply", :class => "btn btn-primary btn-sm submit-comment"
                - else
                  = f.submit "Post Comment", :class => "btn btn-primary btn-sm submit-comment"
        - if social
          .row.social-share
            .col-xs-12
              %ul.list-inline
                %li
                  .twitter
                    = twitter_button
                %li
                  .linkedin
                    = linkedin_button
                %li
                  .facebook
                    = facebook_button
                -# %li= google_plus_button
