.col-xs-12.col-sm-3.post-sm
  - link_override = post.id.nil? ? link : post_path(post)
  - link_override = new_conversation_path(profile_id: post.profile_id) if !post.post_category.nil? && post.post_category.name == 'job'
  = link_to link_override do
    - if !post.thumbnail_url.blank?
      .arrow-right-bottom
      .arrow-right-top
      / thumbnail instead of video
      -# .image{:style => "background-image: url(#{post.thumbnail_url});"}
      / video instead of thumbnail
      = raw embed(post, false, false, '1by1')
    - elsif !post.image_url.blank?
      .image{:style => "background-image: url(#{post.image_url}-/scale_crop/400x400/center/);"}
    - else
      .description
        .text-wrap
          %p
            = "@#{post.mention.name}" unless post.mention.nil?
            = post.description.truncate 250
        .image
    .profile
      - unless post.profile.nil? || post.profile.thumbnail_url.blank? # for special posts with link
        .profile-avatar
          .circle-avatar{:style => "background-image:url(#{post.profile.thumbnail_url})"}
        %p
          = "by #{post.profile.name}"
    - unless post.post_category.nil?
      .type
        %span
          -# - unless post.post_category.nil?
          -#   = post.post_category.name.capitalize
          -# - else
          -#   Post
          - case post.post_category.name.downcase
          - when 'job'
            = icon 'briefcase'
          - when 'review'
            = icon 'binoculars'
          - when 'promotion'
            = icon 'tag'
          - when 'status'
            = icon 'microphone'
          - when 'portfolio'
            = icon 'folder-open'
          - end unless post.post_category.nil?
