%h3 Search

= bootstrap_form_tag url: search_feeds_path, method: 'get' do |f|
  .col-xs-12.col-sm-5
    = f.text_field :query, placeholder: "Search Profiles and Posts"
  .col-xs-12.col-sm-2
    = f.select(:category_id, PostCategory.all.collect {|c| [c.name.capitalize!, c.id]}, :include_blank => true)
  .col-xs-12.col-sm-3
    = f.text_field :address, placeholder: "Address"
  .col-xs-12.col-sm-2
    = f.submit "Search"
