= bootstrap_form_for @post do |f|
  = render 'shared/form_errors', model: @post

  = f.text_field :video_url, :value => render_url(@post.video_url)
  = f.text_area :description
  = f.uploadcare_uploader :image_url, :data => { "images-only" => "true", "crop" => "" }
  %br
  = f.submit 'Save'
