.row
  .col-xs-12
    / Nav tabs
    %ul.nav.nav-tabs{:role => "tablist"}
      // view defaults to grid
      %li{:role => "presentation", :class => "#{'active' unless @view == 'list'}"}
        %a{"aria-controls" => "grid-view", "data-toggle" => "tab", :href => "#grid-view", :role => "tab"} Grid
      %li{:role => "presentation", :class => "#{'active' if @view == 'list'}"}
        %a{"aria-controls" => "list-view", "data-toggle" => "tab", :href => "#list-view", :role => "tab"} List
    / Tab panes
    .row
      .col-xs-12
        %br
        .tab-content
          // view defaults to grid
          #grid-view.tab-pane{:role => "tabpanel", :class => "#{'active' unless @view == 'list'}"}
            = "No results" if !@posts.any?
            - @posts.each do |post|
              = render 'shared/post_sm', post: post
          #list-view.tab-pane{:role => "tabpanel", :class => "#{'active' if @view == 'list'}"}
            - @posts.each do |post|
              = render 'shared/post', post: post, social: false
            = "No results" if !@posts.any?
.row.pagination
  .col-xs-12
    = will_paginate @posts
