%p#notice= notice

%p
  %b Image url:
  = @post.image_url
%p
  %b Video url:
  = embed(@post.video_url).html_safe
%p
  %b Description:
  = @post.description
%p
  %b Profile:
  = @post.profile.name

= link_to 'Edit', edit_post_path(@post)
\|
= link_to 'Back', posts_path
