%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"}
        %img.img-responsive.logo{src: "https://ucarecdn.com/be977ec3-0bb9-4f3e-ad1c-5cd5367b993a/"}
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-left
        %li.menu-search
          = render 'shared/menu_search'
        -# %li{class: "#{active? profiles_path}"}
        -#   = link_to "Directory", profiles_path
      %ul.nav.navbar-nav.pull-right
        %li{class: "#{active? root_path}"}
          = link_to root_path do
            = icon 'home'
            Home
        %li{class: "#{active? '/deals'}"}
          = link_to '/deals' do
            = icon 'tag'
            Hacks
        %li{class: "#{active? '/posts/categories/job'}"}
          = link_to '/posts/categories/job' do
            = icon 'briefcase'
            Jobs
        %li{class: "new-post #{active? new_post_path}"}
          = link_to new_post_path do
            = icon 'arrow-circle-right'
            Bzz
        - if !user_signed_in?
          %li
            = link_to new_user_session_path do
              Login
          %li
            = link_to new_user_registration_path do
              Signup
        - if user_signed_in? && current_user.admin?
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Admin
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                = link_to "Pages", pages_path
          %li.dropdown
            -# show profile photo only for users with on, otherwise name
            - if current_user.profile.thumbnail_url.blank?
              %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                = current_user.profile.name
            - else
              %a.dropdown-toggle.user-menu{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                .profile-avatar
                  .circle-avatar{:style => "background-image:url(#{current_user.profile.thumbnail_url})"}
                &nbsp;
              -# .icon-wrap
              -#   = icon 'bars'
            %ul.dropdown-menu{:role => "menu"}
              %li{class: "#{active? profile_path(current_user.profile)}"}
                = link_to "My Profile", profile_path(current_user.profile)
              %li{class: "#{active? edit_profile_path(current_user.profile)}"}
                = link_to "Edit Profile", edit_profile_path(current_user.profile)
              %li{class: "#{active? conversations_path}"}
                = link_to "Messages", conversations_path
              %li{class: "#{active? views_path}"}
                = link_to "Viewed My Profile", views_path
              %li{class: "#{active? notifications_path}"}
                = link_to "Notifications", notifications_path
              %li
                = link_to('Logout', destroy_user_session_path, :method => :delete)
